d-if(if="{args.cell.type}")
  svg.virus-cell(width="{SIZE}", height="{SIZE}", stroke-width="2px")
    d-switch(value="{args.shape}")
      d-case(if="{virusesShapes.CIRCLE}")
        circle(
          cx="{SIZE / 2}"
          cy="{SIZE / 2}"
          r="{SIZE / 2}"
          stroke="{args.color}"
          fill="{args.cell.type === virusesTypes.FORTRESS ? args.color : null}"
        )
      d-case(if="{virusesShapes.RECT}")
        rect(
          x="0px"
          y="0px"
          width="{SIZE}"
          height="{SIZE}"
          stroke="{args.color}"
          fill="{args.cell.type === virusesTypes.FORTRESS ? args.color : null}"
        )
