d-if(if="{args.cell.type}")
  svg.virus-cell(width="{SIZE + BORDER_WIDTH}", height="{SIZE + BORDER_WIDTH}", stroke-width="{BORDER_WIDTH}")
    d-switch(value="{virusesShapes[args.shape]}")
      d-case(if="{virusesShapes.CIRCLE}")
        circle(
          cx="{(SIZE + BORDER_WIDTH) / 2}"
          cy="{(SIZE + BORDER_WIDTH) / 2}"
          r="{SIZE / 2}"
          stroke="{color}"
          fill="{args.cell.type === virusesTypes.FORTRESS ? color : 'rgba(0,0,0,0)'}"
        )
      d-case(if="{virusesShapes.RECT}")
        rect(
          x="{BORDER_WIDTH / 2}"
          y="{BORDER_WIDTH / 2}"
          width="{SIZE}"
          height="{SIZE}"
          stroke="{color}"
          fill="{args.cell.type === virusesTypes.FORTRESS ? color : 'rgba(0,0,0,0)'}"
        )
