div.settings-instance-section.change-password-section
  h2.settings-instance-section-header
    span.change-password-header {i18n.t('settings.states.account.change_password.header')}
    div.change-password-spinner-container
      img.change-password-spinner(
        src="{images.loading}"
        d-show="{changingPassword}"
      )
  form.change-password-form(
    d-elem="changePasswordForm"
    d-validate
    d-bind-submit="{changePassword}"
    d-bind-input="{onChange}"
  )
    InputWrapper(
      validators="{['required']}"
      showErrorMessage="{attemptedToChangePassword}"
      i18nModule="settings.states.account.change_password"
      empty="{!changePasswordFormChanged}"
    )
      input#current-password(
        name="current-password"
        type="password"
        placeholder="{i18n.t('settings.states.account.change_password.fields.current_password')}"
        d-value="currentPassword"
      )
    InputWrapper(
      validators="{['required']}"
      showErrorMessage="{attemptedToChangePassword}"
      i18nModule="settings.states.account.change_password"
      empty="{!changePasswordFormChanged}"
    )
      input#new-password(
        name="password"
        type="password"
        placeholder="{i18n.t('settings.states.account.change_password.fields.new_password')}"
        d-value="password"
      )
    InputWrapper(
      validators="{['required', 'password-repeat']}"
      showErrorMessage="{attemptedToChangePassword}"
      i18nModule="settings.states.account.change_password"
      empty="{!changePasswordFormChanged}"
    )
      input#password-repeat(
        name="password-repeat"
        type="password"
        placeholder="{i18n.t('settings.states.account.change_password.fields.password_repeat')}"
        d-value="passwordRepeat"
      )
    InputWrapper
      input.success(
        type="submit"
        value="{i18n.t('settings.states.account.change_password.action')}"
        disabled="{changingPassword ? 'disabled' : null}"
      )
