mixin input-container(attrs)
  div.input-container
    if attrs.type !== 'submit'
      span.validate-error
      div.input-container2
        input.boarder-input&attributes(attrs)
        label.validate-icon-container(for=attrs.id)
          i.fa
    else
      input.boarder-input&attributes(attrs)

div.auth-block.register-block
  span.auth-header= i18n.t('register.header')
  form.auth-form.register-form(autocomplete='off')
    div.auth-spinner-container
    +input-container({
      id: 'login',
      type: 'text',
      name: 'login',
      placeholder: i18n.t('register.fields.login')
    })
    +input-container({
      id: 'email',
      type: 'text',
      name: 'email',
      placeholder: i18n.t('register.fields.email')
    })
    +input-container({
      id: 'password',
      type: 'password',
      name: 'password',
      placeholder: i18n.t('register.fields.password')
    })
    +input-container({
      id: 'password-repeat',
      type: 'password',
      name: 'password-repeat',
      placeholder: i18n.t('register.fields.password_repeat')
    })
    +input-container({
      class: 'success',
      type: 'submit',
      value: i18n.t('register.action')
    })
  div.auth-success-caption.hidden
    span= i18n.t('register.success')
    span= ' '
    b.send-to-email
    p.send-one-more.linky= i18n.t('register.send_one_more_time')
