div.pexeso-game.row
  div.field.col-xs-12.col-sm
    d-each(set="{field}", item="row", index="y", uid="{y}")
      div.cards-row
        d-each(set="{row}", item="card", index="x", uid="{x}")
          div.card-container
            img.card(
              d-class="{[card.opened && 'opened', !card.isInPlay && 'not-in-play']}"
              d-on-load="{onCardLoaded(card)}"
              d-on-error="{onCardLoaded(card)}"
              src="{card.isTurned ? '/public/images/pexeso/sets/' + options.set + '/' + card.card + '.jpg' : backImage}"
              d-on-click="{turnCard(x, y)}"
            )
  CommonPlayersInGameBlock(players="{args.players}", containerCls="col-xs-12 col-sm")
