div.settings-instance-section.change-avatar-section
  h2.settings-instance-section-header {i18n.t('settings.states.profile.avatar.header')}
  div.main.avatar-container
    img.main.avatar(src="{global.user.avatar}")
    div.avatar-replacement
      i.fa.fa-image
    div.open-popup
    Popup
      div.avatars-container
        div.spinner-container(d-show="{avatarsFetching}")
          img(src="{images.loading}")
        div.avatars(d-elem="avatarsElem")
          div.avatar-container.to-upload
            form.add-avatar(d-elem="addAvatarForm")
              label.upload-file-btn(d-class="{!canRequest && 'forbidden'}")
                input.hidden(
                  name="avatar"
                  type="file"
                  accept="image/png, image/jpeg"
                  d-value="uploadingAvatar"
                  disabled="{canRequest ? null : 'disabled'}"
                )
                i.fa.fa-upload
          d-each(set="{avatars}", item="avatar", uid="{avatar.url}")
            div.avatar-container(d-class="{avatar.url === global.user.avatar && 'current-avatar'}")
              img.avatar(
                src="{avatar.url}"
                d-on(click)="{chooseAvatar(avatar)}"
                d-on(load)="{onLocalAvatarLoaded(avatar)}"
                d-on(error)="{onLocalAvatarLoaded(avatar)}"
                d-style="{{ visibility: avatar.loading ? 'hidden' : 'visible' }}"
              )
              div.uploader-progress-bar(d-style="{avatar.uploaderProgressBarStyle}")
              div.delete-avatar(d-on(click)="{deleteAvatar(avatar)}", d-hide="{avatar.isUploading}")
                i.fa.fa-trash-o
