d-each(set="{_.times(card.count)}", index="i", uid="{i}")
  svg.shape(
    width="{WIDTH + BORDER_WIDTH}"
    height="{HEIGHT + BORDER_WIDTH}"
    viewBox="{[-BORDER_WIDTH/2, -BORDER_WIDTH/2, WIDTH + BORDER_WIDTH, HEIGHT+BORDER_WIDTH].join(' ')}"
    stroke-width="{BORDER_WIDTH}"
  )
    defs
      d-each(set="{COLORS}", item="color", index="colorName", uid="{colorName}")
        pattern(
          id="{'shaded-' + colorName}"
          patternUnits="userSpaceOnUse"
          x="0px"
          y="0px"
          width="{SHADED_FREQ}"
          height="100px"
        )
          rect(x="{(SHADED_FREQ - SHADED_WIDTH) / 2}", y="0px", width="{SHADED_WIDTH}", height="100px", fill="{color}")
    d-switch(value="{card.shape}")
      d-case(if="DIAMOND")
        polygon(
          points="{diamondPath}"
          stroke="{COLORS[card.color]}"
          fill="{fillPatternSwitcher(card)}"
        )
      d-case(if="OVAL")
        path(
          d="{ovalPath}"
          stroke="{COLORS[card.color]}"
          fill="{fillPatternSwitcher(card)}"
        )
      d-case(if="WAVE")
        path(
          d="{wavePath}"
          stroke="{COLORS[card.color]}"
          fill="{fillPatternSwitcher(card)}"
        )
