div
  | #{ i18n.t('email.forgot_password.hello') }!
  br
  br
  | #{ i18n.t('email.forgot_password.if_you_didnt_request') }#{ ' ' }
  a(href="http://boarder.tk") boarder.tk
  | , #{ i18n.t('email.forgot_password.ignore_message') }
  br
  | #{ i18n.t('email.forgot_password.otherwise_follow_the_link') }:#{ ' ' }
  a(href=resetPasswordLink)= resetPasswordLink
