html(lang=lang)
  head
    meta(property="og:title", content="Boarder")
    meta(property="og:type", content="website")
    meta(property="og:description", content="Game portal")
    meta(property="og:url", content="http://boarder.tk")
    meta(property="og:site_name", content="Boarder")
    meta(property="og:image", content="http://boarder.tk/public/images/pexeso/sets/0/1.jpg")
    meta(property="og:image:width", content="100")
    meta(property="og:image:height", content="100")
    link(
      type="text/css"
      rel="stylesheet"
      href=allCSS
    )
    title.title
    link.icon(
      type="image/png"
      rel="shortcut icon"
    )
  body
    if NODE_ENV === 'development'
      div#livereload
    div.app-root
    script(type="text/javascript").
      window.boarderUser = '#{ user }';
    script(
      type="text/javascript"
      src=i18n
    )
    script(
      type="text/javascript"
      src=allJS
    )
