div
  input.boarder-input.success.create-room-btn(
    type='submit'
    value=i18n.t('games.global.lobby.create_room')
  )
table.rooms-table(class=`${ gameName }-rooms-table`)
  thead
    each colName in i18n.ta(`games.${ gameName }.lobby.col_names`, colCount)
      th= colName
  tbody.rooms(class=`${ gameName }-rooms`)
