div
  input.boarder-input.success.create-room-btn(
    type='submit'
    value=i18n.t('games.global.lobby.create_room')
  )
table.rooms-table(class=`${ gameName }-rooms-table`)
  thead
    th.room-name= i18n.t('games.global.lobby.col_names.name')
    th.room-status= i18n.t('games.global.lobby.col_names.status')
    th.room-players= i18n.t('games.global.lobby.col_names.players')

    each colName in i18n.ta(`games.${ gameName }.lobby.col_names`, colCount)
      - const { name, value } = colName;

      th(class=`${ name }-header`)= value

    th.room-actions= i18n.t('games.global.lobby.col_names.actions')
  tbody.rooms(class=`${ gameName }-rooms`)
