div.dropdown(
  d-elem="elem"
  d-class="{['open-' + args.hdir]}"
  d-class-visible="{{ visible: visible }}"
  d-class-custom="{[args.cls]}"
)
  i.fa(
    d-class="{[args.down ? 'fa-sort-down' : 'fa-sort-up']}"
    d-on-click="{open()}"
  )
  div.dropdown-list
    d-block
