div.auth-block.register-block
  h2.auth-header {i18n.t('register.header')}
  form.auth-form.register-form(
    autocomplete="off"
    d-elem="form"
    d-hide="{registerSuccess}"
    d-validate
    d-bind(submit)="{submit}"
  )
    div
      img.auth-spinner(
        src="{images.loading}"
        d-show="{submitting}"
      )
    InputWrapper(
      validators="{['required']}"
      showErrorMessage="{attemptedToSubmit}"
      i18nModule="register"
      error="{loginError}"
    )
      input#login(
        name="login"
        type="text"
        placeholder="{i18n.t('register.fields.login')}"
        d-value="login"
      )
    InputWrapper(
      validators="{['required', 'email']}"
      showErrorMessage="{attemptedToSubmit}"
      i18nModule="register"
      error="{emailError}"
    )
      input#email(
        name="email"
        type="text"
        placeholder="{i18n.t('register.fields.email')}"
        d-value="email"
      )
    InputWrapper(
      validators="{['required']}"
      showErrorMessage="{attemptedToSubmit}"
      i18nModule="register"
      error="{passwordError}"
    )
      input#password(
        name="password"
        type="password"
        placeholder="{i18n.t('register.fields.password')}"
        d-value="password"
      )
    InputWrapper(
      validators="{['required', 'password-repeat']}"
      showErrorMessage="{attemptedToSubmit}"
      i18nModule="register"
    )
      input#password-repeat(
        name="password-repeat"
        type="password"
        placeholder="{i18n.t('register.fields.password_repeat')}"
        d-value="passwordRepeat"
      )
    InputWrapper
      input.success(
        type="submit"
        value="{i18n.t('register.action')}"
        disabled="{submitting ? 'disabled' : null}"
      )
  div.auth-success-caption(d-show="{registerSuccess}")
    span {i18n.t('register.success') + ' '}
    b.send-to-email {email}
    p.send-one-more.linky(d-bind(click)="{sendOneMoreConfirmation}") {i18n.t('register.send_one_more_time')}
