div.room-state
  d-switch(value="{status}")
    d-case(if="{roomStatuses.NOT_PLAYING}")
      div.before-game
        span.observer-caption(d-show="{plannedRole === playerRoles.PLAYER && role === playerRoles.OBSERVER}")
          | {i18n.t('games.global.room.observer_caption')}
        div.players-before-game-list
          d-each(set="{roomData.players}", item="player", uid="{player.id}")
            div.player-before-game-block
              d-if(if="{player}")
                div.avatar-container
                  img.avatar(src="{player.avatar}")
                div.login {player.login}
                div.ready-caption(d-class="{player.ready && 'ready'}")
                  i.fa(d-class="{player.ready ? 'fa-check' : 'fa-times'}")
                  span {i18n.t('games.global.room.' + (player.ready ? 'ready' : 'not_ready'))}
        input.boarder-input.success.ready-to-play-btn(
          type="submit"
          value="{i18n.t('games.global.room.' + (ready ? 'not_ready' : 'ready'))}"
          d-bind-click="{toggleStatus}"
          d-show="{role === playerRoles.PLAYER}"
        )
    d-case(if="{roomStatuses.PREPARING}")
      h1.text-center
        | {i18n.t('games.global.room.preparing')}
    d-case(if="{roomStatuses.PLAYING}")
      div.game-container
        d-switch(value="{gameName}")
          d-case(if="pexeso")
            Pexeso(
              gameData="{gameData}"
              socket="{socket}"
              emitter="{emitter}"
              isMyTurn="{isMyTurn}"
              players="{players}"
            )
          d-case(if="set")
            SetGame(
              gameData="{gameData}"
              socket="{socket}"
              emitter="{emitter}"
              players="{players}"
            )
          d-case(if="filler")
            FillerGame(
              gameData="{gameData}"
              socket="{socket}"
              emitter="{emitter}"
              isMyTurn="{isMyTurn}"
              players="{players}"
            )
          d-case(if="virus_war")
            VirusWar(
              gameData="{gameData}"
              socket="{socket}"
              emitter="{emitter}"
              isMyTurn="{isMyTurn}"
              players="{players}"
            )
    d-case(if="{roomStatuses.FINISHING}")
      div.game-results
        table.results-table
          thead
            tr
              th.place Place
              th.player Player
              th.score Score
          tbody
            d-each(set="{players}", item="player", index="i", uid="{player.id}")
              tr
                td.place {i+1}
                td.player {player.login}
                td.score {player.score}
